*~
/.idea
/finetune_alexnet/*
*.pyc
/MNIST_data
/alexnet_logs
*._.DS_Store*
/finetune_alexnet
/data/plane23/test
/data/plane23/train
/data/plane23/V8
/data/plane23/val
/data/MNIST_data
*imagenet-vgg-verydeep-19.mat*
/results
*planenet2_mean.binaryproto*
*.DS_Store*